.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}
