.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  overflow: auto;
}

.card-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.336);
  box-shadow: 0px 4px 8px 0px black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.card :hover {
  transform: scale(1.1);
}

.select-difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.336);
  box-shadow: 0px 4px 8px 0px black;
  border-radius: 8px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: center;
  align-content: center;
}

.options button {
  width: 100px;
  height: 50px;
  font-family: inherit;
  font-size: x-large;
  background: none;
  border: 1px solid black;
}

.options button:hover {
  transform: scale(1.1);
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 350px;
  height: 220px;
  border-radius: 10px;
  border: 1px solid rgb(87, 87, 87);
  background-color: rgba(180, 180, 180, 0.829);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*margin-left: -150px;
  margin-top: -150px;*/
}

.modal-footer button {
  width: 100px;
  height: 50px;
  font-family: inherit;
  font-size: x-large;
  background: none;
  border: 1px solid black;
}

.modal-footer button:hover {
  transform: scale(1.05);
}
